body {
	background: #4BA598;
}

#container {
	margin: 0 auto;
	border: solid 1px #f00;
}

main ul {
	padding: 0px;
	margin: 0px;
	width: 80%;
	margin: 0 auto;
}

main ul li {
	display: grid;
	padding: 1rem;
	border-radius: 4px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: aliceblue;
	margin-bottom: 1rem;

	div {
		background-color: aliceblue;
	}

	:first-child {
		grid-row-start: -1;
		grid-row-end: 1;	
	}	

	img {
		width: 100%;
		max-width: 100px;
	}

	* {
		//border: solid 1px #000
	}
}